@import url("reset.css") layer(reset);

body {
  display: grid;
  place-items: center;
  height: 100dvh;
  background-color: rgb(254, 248, 236);
  user-select: none;
}

#puzzle {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 100vmin;
  width: 100vmin;
  border: 10px solid rgb(43, 94, 115);
}

#puzzle[data-solved]::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url("puzzle.png");
  background-size: 100% 100%;
}

.tile {
  position: absolute;
  aspect-ratio: 1 / 1;
  height: calc(100% / 3);
  width: calc(100% / 3);
  transition: transform 0.5s;
  outline: 1px solid rgb(43, 94, 115);
  background-color: rgb(254, 248, 236);
}

.tile div {
  background-size: 300% 300%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.tile:not([data-tile="null"]) {
  cursor: pointer;
}
