@import url("./reset.css") layer(reset);

body {
  display: grid;
  place-items: center;
  height: 100dvh;
  background-color: rgb(254, 248, 236);
  user-select: none;
}

#puzzle {
  position: relative;
  aspect-ratio: 1 / 1;
  height: 100vmin;
  width: 100vmin;
  border: 10px solid rgb(43, 94, 115);
}

canvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
